@page "/fetchdata"

<PageTitle>Weapon Data</PageTitle>

@using BlazorCrud.Data
@inject WeatherForecastService ForecastService

<h1>Weapon Data</h1>

<p>Here you can see some data about the weapons you should use in phase 1.</p>

@if ( cont == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>WeaponRank</th>
                <th>WeaponName</th>
                <th>DropLocation</th>
                <th>Ilvl</th>
            </tr>
        </thead>
        <tbody>
            @foreach (content a in contList)
            {
                <tr>
                    <td>@a.weaponRank</td>
                    <td>@a.weaponName</td>
                    <td>@a.dropLocation</td>
                    <td>@a.ilvl</td>
                </tr>
            }
        </tbody>
    </table>
}

<html>
    <head>
        <meta charset="utf-8">
        <title>CRUD</title>
    </head>
    <body>
        <p>Here you can enter data into the database. All fields must be filled before submitting!</p>
        <div class="container">
            <div class="screen">
                <div class="screen__content">
                    <form class="add__data">

                        <div class="input__field">
                            <td><input @bind="cont.weaponRank"/></td>
                            <td><input @bind="cont.weaponName" /></td>
                            <td><input @bind="cont.dropLocation" /></td>
                            <td><input @bind="cont.ilvl" /></td>
                        </div>

                        <button type="submit" @onclick="CreateWeapon">Submit Data</button>

                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

@code {

    content cont = new();
    List<content> contList = new CrudData().ReadContent();


    private void CreateWeapon()
    {
        new CrudData().CreateWeapon(cont);
        cont = new();
        contList = new CrudData().ReadContent();
    }

}
