@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, welcome to my data site</h1>
<h2>See the tab "Fetch Data" for my weapon data!</h2>

<table>
    <tr>
        <thead>
            <th>Data1</th>
            <th>Data2</th>
            <th>Data3</th>
            <th>Data4</th>
        </thead>
        <tbody>
            @*@foreach (var item in collection)*@
            {
            <tr>
                <td>a</td>
                <td>b</td>
                <td>c</td>
                <td>d</td>
            </tr>
            }
        </tbody>
    </tr>
</table>